.catalog__product-description
    line-height: 140%
    margin-bottom: clamp(24px,6vw,45px)
.catalog-list
    margin-bottom: clamp(40px, 19vw, 120px)
.catalog__product-description-item
    line-height: 140%
    display: none
    &.active
        display: block