@import 'vars'
.footer
    padding: 50px 0
    background: $green
    color: $white
    a:hover
        text-decoration: underline
.footer__nav
    display: flex
    justify-content: space-between
    margin-bottom: clamp(20px, 5vw, 40px)
    li
        margin-bottom: 15px

.footer__items
    span 
        font-weight: 700
        margin-bottom: 15px
        display: inline-block

.footer__bottom
    display: flex
    justify-content: space-between
    font-size: 12px

@media(max-width: 1024px)
    .footer__nav
        display: grid
        grid-template-columns: repeat(3, 1fr)

@media(max-width: 730px)
    .footer__nav
        grid-template-columns: repeat(2, 1fr)
    .footer__logo
        grid-row: 1/6
    
@media(max-width: 430px)
    .footer__nav
        grid-template-columns: 1fr
    .footer__logo
        grid-row: 1/2
    