@import 'vars'
.news__wrapper
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 20px
    margin-bottom: clamp(40px, 19vw, 120px)
.news
    padding: 25px 20px
    border: 1px solid #d9d9d9d
    border-radius: 10px
    box-shadow: 0 2px 4px rgba(0,0,0, .25)
    display: flex
    flex-direction: column
    gap: 15px
    opacity: 0
    transform: translateY(40%)
    transition: opacity 1s, transform 1s, box-shadow .3s
    &:nth-child(2n)
        transition: opacity 1.5s, transform 1.5s, box-shadow .3s
    &._active
        opacity: 1
        transform: translate(0)
    
    &:hover
        box-shadow: 0 6px 4px rgba(0,0,0, .25)
    

    .image-wrapper
        border-radius: 5px
        overflow: hidden
        max-height: 350px

        img
            height: 100%
            object-fit: cover
            object-position: center

.news__date
    font-size: 12px    
.news__title
    font-size: 18px
    font-weight: 700

    a
        transition: color .3s

        &:hover
            color: $green
.news__text
    display: -webkit-box
    -webkit-box-orient: vertical
    overflow: hidden
    -webkit-line-clamp: 4
    margin-top: auto

@media (max-width:750px)
    .news__wrapper
        grid-template-columns: 1fr

@media (max-width:450px)
    .news
        padding: 15px
        gap: 10px
    .news__title
        font-size: 16px
