<div class="filters">
    <div class="container">
        <div class="filters-wrapper">
            <button class="filter-btn" data-tab-id="#all-products">Все</button>
            <button class="filter-btn" data-tab-id="#climate-complexes">Климатические комплексы</button>
            <button class="filter-btn" data-tab-id="#air-washers">Мойки воздуха</button>
            <button class="filter-btn" data-tab-id="#air-purifiers">Очистители воздуха</button>
            <button class="filter-btn" data-tab-id="#humidifiers">Увлажнители воздуха</button>
        </div>
    </div>
</div>