<section class="interesting">
    <div class="container">
        <h2 class="section__title">Возможно, Вас также заинтересует</h2>
        <div class="interesting__wrapper interesting__slider">
            <div class="swiper-wrapper">                
                <div class="interesting__card swiper-slide">
                    <div class="interesting__card-img">
                        <img src="images/2.avif" alt="">
                    </div>
                    <h3 class="interesting__card-title"><a href="#!">Климатический комплекс <br> <span>iClima LUX-5000W</span></a></h3>
                    <div class="interesting__card-bottom">
                        <span class="interesting__card-price">от 99 999 ₽</span>
                        <a href="" class="interesting__card-btn btn">ПОДРОБНЕЕ</a>
                    </div>
                </div>
                <div class="interesting__card swiper-slide">
                    <div class="interesting__card-img">
                        <img src="images/2.avif" alt="">
                    </div>
                    <h3 class="interesting__card-title"><a href="#!">Климатический комплекс <br> <span>iClima LUX-5000W</span></a></h3>
                    <div class="interesting__card-bottom">
                        <span class="interesting__card-price">от 99 999 ₽</span>
                        <a href="" class="interesting__card-btn btn">ПОДРОБНЕЕ</a>
                    </div>
                </div>
                <div class="interesting__card swiper-slide">
                    <div class="interesting__card-img">
                        <img src="images/2.avif" alt="">
                    </div>
                    <h3 class="interesting__card-title"><a href="#!">Климатический комплекс <br> <span>iClima LUX-5000W</span></a></h3>
                    <div class="interesting__card-bottom">
                        <span class="interesting__card-price">от 99 999 ₽</span>
                        <a href="" class="interesting__card-btn btn">ПОДРОБНЕЕ</a>
                    </div>
                </div>
                <div class="interesting__card swiper-slide">
                    <div class="interesting__card-img">
                        <img src="images/2.avif" alt="">
                    </div>
                    <h3 class="interesting__card-title"><a href="#!">Климатический комплекс <br> <span>iClima LUX-5000W</span></a></h3>
                    <div class="interesting__card-bottom">
                        <span class="interesting__card-price">от 99 999 ₽</span>
                        <a href="" class="interesting__card-btn btn">ПОДРОБНЕЕ</a>
                    </div>
                </div>
                <div class="interesting__card swiper-slide">
                    <div class="interesting__card-img">
                        <img src="images/2.avif" alt="">
                    </div>
                    <h3 class="interesting__card-title"><a href="#!">Климатический комплекс <br> <span>iClima LUX-5000W</span></a></h3>
                    <div class="interesting__card-bottom">
                        <span class="interesting__card-price">от 99 999 ₽</span>
                        <a href="" class="interesting__card-btn btn">ПОДРОБНЕЕ</a>
                    </div>
                </div>
                <div class="interesting__card swiper-slide">
                    <div class="interesting__card-img">
                        <img src="images/2.avif" alt="">
                    </div>
                    <h3 class="interesting__card-title"><a href="#!">Климатический комплекс <br> <span>iClima LUX-5000W</span></a></h3>
                    <div class="interesting__card-bottom">
                        <span class="interesting__card-price">от 99 999 ₽</span>
                        <a href="" class="interesting__card-btn btn">ПОДРОБНЕЕ</a>
                    </div>
                </div>
                <div class="interesting__card swiper-slide">
                    <div class="interesting__card-img">
                        <img src="images/2.avif" alt="">
                    </div>
                    <h3 class="interesting__card-title"><a href="#!">Климатический комплекс <br> <span>iClima LUX-5000W</span></a></h3>
                    <div class="interesting__card-bottom">
                        <span class="interesting__card-price">от 99 999 ₽</span>
                        <a href="" class="interesting__card-btn btn">ПОДРОБНЕЕ</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>