<section class="main-news">
    <div class="container">
        <h2 class="section__title">Новости</h2>
        <div class="main-news__wrapper">
            <div class="main-news__item">
                <div class="img-wrapper">
                    <img src="images/news.avif" alt="">
                </div>
                <a href="#!">
                    <h3 class="main-news__title">Таким образом начало повседневной работы по формированию позиции требуют определения</h3>
                </a>
                <div class="main-news__bottom">
                    <span class="news-date">11.11.2024 г.</span>
                    <a href="#!" class="see-more">Подробнее</a>
                </div>
            </div>
            <div class="main-news__item">
                <div class="img-wrapper">
                    <img src="images/news.avif" alt="">
                </div>
                <a href="#!">
                    <h3 class="main-news__title">Таким образом начало повседневной </h3>
                </a>
                <div class="main-news__bottom">
                    <span class="news-date">11.11.2024 г.</span>
                    <a href="#!" class="see-more">Подробнее</a>
                </div>
            </div>
            <div class="main-news__item">
                <div class="img-wrapper">
                    <img src="images/news.avif" alt="">
                </div>
                <a href="#!">
                    <h3 class="main-news__title">Таким образом начало повседневной работы по формированию</h3>
                </a>
                <div class="main-news__bottom">
                    <span class="news-date">11.11.2024 г.</span>
                    <a href="#!" class="see-more">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>