<section class="main-about">
    <div class="container">
        <div class="main-about__inner">
            <h2 class="section__title">Сеошный текст о компании</h2>
            <p>Равным образом реализация намеченных плановых заданий требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий играет важную роль в формировании дальнейших направлений развития. Задача организации, в особенности же консультация с широким активом в значительной степени обуславливает создание новых предложений.</p>
        </div>
    </div>
</section>