<div class="product-page__characteristics">
    <div class="container">
        <div class="left">
            <h2 class="section__title">Технические характеристики</h2>
            <div class="characteristics-wrapper">
                <div class="characteristic">
                    <div class="name">Модель</div>
                    <span></span>
                    <div class="value">iClima LUX-5000W</div>
                </div>
                <div class="characteristic">
                    <div class="name">Парметры сети</div>
                    <span></span>
                    <div class="value">220-240В 50/60Гц</div>
                </div>
                <div class="characteristic">
                    <div class="name">Потребляемая мощность</div>
                    <span></span>
                    <div class="value">Потребляемая мощность</div>
                </div>
                <div class="characteristic">
                    <div class="name">Емкость бака</div>
                    <span></span>
                    <div class="value">5 литров</div>
                </div>
                <div class="characteristic">
                    <div class="name">CADR PM2.5</div>
                    <span></span>
                    <div class="value">250м³/час</div>
                </div>
                <div class="characteristic">
                    <div class="name">CADR (формальдегиды)</div>
                    <span></span>
                    <div class="value">150м³/час</div>
                </div>
                <div class="characteristic">
                    <div class="name">HEPA фильтр класс</div>
                    <span></span>
                    <div class="value">H13</div>
                </div>
                <div class="characteristic">
                    <div class="name">Размеры прибора</div>
                    <span></span>
                    <div class="value">228*228*560мм</div>
                </div>
                <div class="characteristic">
                    <div class="name">Размеры коробки</div>
                    <span></span>
                    <div class="value">265*265*635мм</div>
                </div>
                <div class="characteristic">
                    <div class="name">HETTO Вес</div>
                    <span></span>
                    <div class="value">4.0 kg</div>
                </div>
                <div class="characteristic">
                    <div class="name">БРУТТО Вес</div>
                    <span></span>
                    <div class="value">5.2 kg</div>
                </div>
                <div class="characteristic">
                    <div class="name">Класс Энергозащиты</div>
                    <span></span>
                    <div class="value">II</div>
                </div>
                <div class="characteristic">
                    <div class="name">Уровень Шума</div>
                    <span></span>
                    <div class="value">35-55 dB</div>
                </div>

            </div>
        </div>
        <div class="right">
            <h2 class="section__title">Перед использованием ознакомьтесь</h2>
            <a href="" class="download">Руководство по эксплуатации</a>
            <a href="" class="download">Паспорт устройства</a>
            <a href="" class="download">Свидетельство о сертификации</a>
            <div class="right__bottom">
                <span class="product-page__price">от 99 999 ₽</span>
                <button class="btn buy-here">ЗАКАЗАТЬ </button>
            </div>
        </div>
    </div>
</div>