<div class="product-slider">
    <div class="container">
        <div class="product-slider__buttons">
            <button class="product-slider__button" data-slide-content="#slide-1">Контроль климата</button>
            <button class="product-slider__button" data-slide-content="#slide-2">Умное управление</button>
            <button class="product-slider__button" data-slide-content="#slide-3">Удобный дизайн</button>
            <button class="product-slider__button" data-slide-content="#slide-4">Ультразвуковое управление</button>
            <button class="product-slider__button" data-slide-content="#slide-5">Высокая увлажняющая способность</button>
            <button class="product-slider__button" data-slide-content="#slide-6">Оценка качества увлажнения</button>
            <button class="product-slider__button" data-slide-content="#slide-7">УФ стерилизация</button>
            <button class="product-slider__button" data-slide-content="#slide-8">Пульт управления</button>
            <button class="product-slider__button" data-slide-content="#slide-9">Режим сна</button>
        </div>
        <div class="product-slider__slides">
            <div class="product-slider__slide" id="slide-1">
                <img src="images/htmlimage (1).avif" alt="">
            </div>
            <div class="product-slider__slide" id="slide-2">
                <img src="images/htmlimage (2).avif" alt="">
            </div>
            <div class="product-slider__slide" id="slide-3">
                <img src="images/htmlimage (1).avif" alt="">
            </div>
            <div class="product-slider__slide" id="slide-4">
                <img src="images/htmlimage (2).avif" alt="">
            </div>
            <div class="product-slider__slide" id="slide-5">
                <img src="images/htmlimage (1).avif" alt="">
            </div>
            <div class="product-slider__slide" id="slide-6">
                <img src="images/htmlimage (2).avif" alt="">
            </div>
            <div class="product-slider__slide" id="slide-7">
                <img src="images/htmlimage (1).avif" alt="">
            </div>
            <div class="product-slider__slide" id="slide-8">
                <img src="images/htmlimage (2).avif" alt="">
            </div>
            <div class="product-slider__slide" id="slide-9">
                <img src="images/htmlimage (1).avif" alt="">
            </div>          
        </div>
    </div>
</div>