<section class="product-description">
    <div class="container">
        <div class="product-description__video" >
            <video src="video/5000-2.mp4"controls></video>
        </div>
        <div class="product-description__text">
            <p>Климатический комплекс подойдет аллергикам, астматикам и людям, которые имеют проблемы с дыханием. Данный прибор действительно жизненно необходимым, особенно детям в малом возрасте, а также пожилым людям. Сбалансированный микроклимат в местах их нахождения — существенно улучшает их здоровье и работу иммунной системы.
                В период распространения ОРЗ и ОРВИ, а также пандемии различных типов в том числе COVID – iCLIMA LUX-5000W будет полезен всем без исключения!</p>
                <p>С помощь iClima LUX-5000W:</p>
                <ul>
                    <li>возвратиться свежесть</li>
                    <li>уничтожаются болезнетворные бактерии и многие опасные микроорганизмы</li>
                    <li>разлагаются токсичные химические соединения и даже табачный дым</li>
                </ul>
                <p>Используя Климатический Комплекс iCLIMA LUX-5000W – Вас будет окружать сбалансированный приближенный к природному Микроклимат.</p>
        </div>
    </div>
</section>